<div class="flex-container">
    <div class="row">
      <div class="column">
        <img src="/assets/img/cartera 1.jpg"/>
        <h2>Delicate</h2>
        <p>Descripcion</p>
        <h3>$60.000</h3>
      </div>
        <div class="column">
            <img src="/assets/img/cartera 2.jpg"/>
            <h2>Greedy</h2>
            <p>Descripcion</p>
            <h3>$55.000</h3>
        </div>
        <div class="column">
        <img src="/assets/img/cartera 3.webp"/>
            <h2>Lover</h2>
            <p>Descripcion</p>
            <h3>$70.000</h3>
        </div>
    </div>
    <div class="row">
      <div class="column">
        <img src="/assets/img/cartera 4.2.webp"/>
        <h2>Reh3utation</h2>
        <p>Descripcion</p>
        <h3>$50.000</h3>
      </div>
      <div class="column">
        <img src="/assets/img/cartera 5.jpg"/>
        <h2>Sweetener</h2>
        <p>Descripcion</p>
        <h3> Descripcion </h3>
      </div>
      <div class="column">
        <img src="/assets/img/cartera 6.jpg"/>
        <h2>Fearless</h2>
        <p>Descripcion</p>
        <h3>$68.000</h3>
      </div>
    </div>
  </div>
  
