@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa1f3;
    color: black;
    padding: 10px 20px;
  
    .logo a {
      color: black;
      text-decoration: none;
      font-size: 24px;
      font-family: 'Raleway', sans-serif;

    }
    img{
        height: 20px;
        width: 20px;
    }
  
    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
  
      li a {
        color: black;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
      }
    }
  }
  