<nav class="navbar">
    <div class="logo">
      <a routerLink="/">Purse</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/Sale">Sale</a></li>
      <li><a routerLink="/purse">Cartera</a></li>
      <li><a routerLink="/wallet">Billetera</a></li>
      <li><a routerLink="/fanny pack">Riñoneras</a></li>
      <li><a routerLink="/Gift-Card">Gift-Card</a></li>
      <li><a routerLink="/login">Registrate</a></li>
      <li><a routerLink="/"><img src="/assets/img/cart.png" alt="Imagen" /></a></li>
    </ul>
  </nav>

  
  
